        <section class="">
            <!-- Footer -->
            <footer class="text-center text-white footer mt-auto" style="background-color: #04549c;">
            <!-- Grid container -->
                <div class="container p-4 pb-0">
                    <!-- Section: CTA -->
                    <section class="">
                        <p class="d-flex justify-content-center align-items-center">
                            Contato: contato@e-saudebr.com
                        </p>
                    </section>
                </div>

                <!-- Copyright -->
                <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                    © 2021 Copyright:
                    <a class="text-white" href="https://e-saudebr.com">www.e-saudebr.com</a>
                </div>
                
            </footer>
        </section>
    </div>
</body>