<!DOCTYPE HTML>
<html>
<head>    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- css -->
    <link   href="/ext/css/bootstrap.min.css"      type="text/css" rel="stylesheet"   />
    
    <!-- Javascript -->
    <script src="/ext/js/jquery-3.6.0.min.js"  type="text/javascript"   crossorigin="anonymous"></script>
    <script src="/ext/js/bootstrap.bundle.js"  type="text/javascript"   crossorigin="anonymous"></script>
    <script src="/ext/js/_funcoes.js"  type="text/javascript"   crossorigin="anonymous"></script>
    
    <!-- Icon -->
    <link rel="sortcut icon"    href="/ext/images/e_saudebr_icon.svg"     type="image/png" />
    <title>e-saudebr</title>    
</head>    
<body>
    <div class="container">